# deps
node_modules/
**/node_modules/

# build/cache
dist/
target/
.wrangler/
.cache/

# env
.env
.env.production
**/.env
**/.env.production
!.env.example
!**/.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
