{$APP_DOMAIN:localhost} {
	encode zstd gzip
	reverse_proxy app:3000
}

{$MCP_DOMAIN:mcp.localhost} {
	encode zstd gzip
	reverse_proxy mcp:3001
}

{$BOT_STATUS_DOMAIN:bot.localhost} {
	encode zstd gzip
	reverse_proxy bot:3002
}
